@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



  :root {
    --font-space-grotesk: 'Funnel Display';
  }
  
  body {
    font-family: var(--font-funnel-display);
    background-color: #232e42;
    overflow-x: hidden;
  }

  option {
    background-color: #232e42; /* Light grey background */
    font-family: "Funnel Display", sans-serif; /* Same font as select */
  }
