@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --font-funnel-display: 'Funnel Display';
}

body {
  font-family: var(--font-funnel-display), sans-serif;
  background-color: #232e42;
  overflow-x: hidden;
}

option {
  background-color: #232e42;
  font-family: var(--font-funnel-display), sans-serif;
}